@font-face {
    font-family: 'Roboto Black';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Deklarera CSS-variabler i :root */
:root {
    --blackish-color: #101212;
    --trueblack-color: #000000;
    --secondary-color: #3de07e;
    --third-color: #333333;
    
    --almost-white-color: #F8F8F8;
    /*
    --fifth-color: #F2F2F2;
    --sixth-color: blue;
    --seventh-color: #587291;
    --eighth-color: #5B2E48;
    --ninth-color: #DCDCDC; */
    --font-family-fira: 'Fira Sans', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-roboto-black: 'Roboto Black', sans-serif;

    /* 12px 14.4px line-height */
    --font-size-small: calc(12rem / 16);

    /* 16px 24px line-height and 22.4px line-height*/
    --font-size-base: calc(16rem / 16);

    /* 34px 40.8px line-height */
    --font-size-xl: calc(34rem / 16);

    /* 40px 48px line-height */
    --font-size-2xl: calc(40rem / 16);

    /* 102px 119,53px line-height */
    --font-size-3xl: calc(102rem / 16);

    /* designed to fit an example estimated to have had viewport height of 663 */
    /* if viewport example is 1440 and user is assumed to use a monitor with widescreen 16:9 and bookmarks-bar and adress-bar showing 80–120px, windows taskbar 40–50px. I calculated height ratio for viewport to be approx 663px, so I will use that when calculating the vh */

    /* WHY? to keep the aspect ratio of paddings and spacings when using a smaller or bigger viewport, respecting the designer */
    --viewportwidth: 1440;
    --viewportheight: 663;

    --var-cardgap-percent: 3%;
}

header {
    /* höjd ta bort sen? */
    min-height: min(calc(608vh/var(--viewportheight)*100), calc(608rem/16));
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &> h1 {
        align-self: center;
        padding-block: min(calc(123vh / var(--viewportheight)*100), calc(123rem / 16));
    }

    &>figure {
        align-self: center;
    }

    &> nav {
        padding-inline: min(calc(32vw / var(--viewportwidth)*100), calc(32rem / 16));
        padding-block: min(calc(32vh / var(--viewportheight)*100), calc(32rem / 16));
    }
}

main {
    background-color: var(--blackish-color);
}

.smallcards {
    color:var(--almost-white-color);
    display:flex;
    align-content: space-between;
    flex-flow: wrap;
    gap: var(--var-cardgap-percent);
}

.card {   
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 31%;    
}

.big {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 48%;
}

.bigcards {
    display: flex;
    justify-content: space-between;
    gap: var(--var-cardgap-percent);
}

.ft-regular {
    font-family: var(--font-family-fira);
    color: var(--blackish-color);
    line-height: 1.4;
}

.ft-robot {
    font-family: var(--font-family-roboto);
    color: var(--blackish-color);
    line-height: 1.1718;
}

.ft-robotblack {
    font-family: var(--font-family-roboto-black);
    font-weight: 700;
    color: var(--blackish-color);
}

.ft-3xl {
    font-size: var(--font-size-3xl);
}

.ft-2xl {
    font-family: var(--font-family-fira);
    font-size: var(--font-size-2xl);
}

.ft-xl {
    font-family: var(--font-family-fira);
    font-size: var(--font-size-xl);
}

.ft-small {
    font-family: var(--font-family-fira);
    font-size: var(--font-size-small);
}

.ft-higher {
    line-height: 1.5;
}

.ft-white {
    color: var(--almost-white-color);
}

footer {
    /* höjd ta bort sen? */
    min-height: min(calc(320vh/var(--viewportheight)*100), calc(320rem/16));

    /* should be 222 according to spec ... flow? */
    padding-inline: min(calc(213vw / var(--viewportwidth)*100), calc(213rem / 16));

    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;

    &>nav>ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

html {
    font-size: 100%;
    line-height: 1.172;
    font-family: var(--font-family-fira);
    color: var(--primary-color);
}

body {
    font-size: var(--font-size-default);
    font-family: var(--font-family-fira);
    background-color: var(--fourth-color);
}

.padding-16 {
    padding-inline: min(calc(16vw / var(--viewportwidth)*100), calc(16rem / 16));
}

.padding-90-213 {
    padding-top: min(calc(90vh/var(--viewportheight)*100), calc(90rem/16));
    /* should be 222 according to spec ... flow? */
    padding-inline: min(calc(213vw / var(--viewportwidth)*100), calc(213rem / 16));
}

.flow > * + * {
    margin-bottom: min(calc(90vh/var(--viewportheight)*100), calc(90rem/16));
}